profiles
{   
    standard {
        process.executor = 'local'
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 2
        process.memory = '6 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/rnaseq"
        process.time = "20 h"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "10 GB"
    }

    withName: "FASTQC" {
        cpus = 1
        memory = "6 GB"
    }
    withName: "CLEAN_READS" {
        cpus = 4
        memory = "30 GB"
    }

    withName: "ALIGN_TO_CDS" {
        cpus = 4
        memory = "30 GB"
    }

    withName: "ALIGN_TO_GENOME_PLUS_UNMAPPED1" {
        cpus = 4
        memory = "30 GB"
    }

    withName: "UNMAPPED2_READS_TO_KEGG" {
        cpus = 4
        memory = "30 GB"
    }

    withName: "PATHWAY_ANALYSIS" {
        cpus = 4
        memory = "30 GB"
    }

}


params 
{    
    outdir = "result"
    report = "report"
    mode = "clean"         // {fastqc, clean, all}
    test = "test" 

    // fastp
    leftcutR1 = 15
    leftcutR2 = 15
    rightcutR1 = 3
    rightcutR2 = 3

    // ref
 //   ref = "${baseDir}/refs/reference.fna"
    gff = "${baseDir}/refs/hostphage.gff"
 //   ref_cds_all = "${baseDir}/refs/all_cds.fna"
 //   ref_bac = "${baseDir}/refs/CP000521.1.fna"
 //   ref_vir = "${baseDir}/refs/vB_AB_HMGU1.fna"
    ref_cds = "${baseDir}/refs/refs_cds.fna"
    viral_cds = "${baseDir}/refs/vB_AB_HMGU1_cds.fna"
    ref_genome = "${baseDir}/refs/refs_genome.fna"
    gff_bacteria = "${baseDir}/refs/CP000521.1.gff3"
    gbk_bacteria = "${baseDir}/refs/bacteria.gbk"
    gbk_virus = "${baseDir}/refs/virus.gbk"
    bacgene2ko = "${baseDir}/refs/bacgene2ko.tsv"
    bacteria_id = "CP000521.1"
    virus_id = "vB_AB_HMGU1"
    min_gap = 50

    // assembler
    assembler = "spades"
    megahit_mem = 0.3
    spades_mem = 70

    // nr contig
    min_contig = 500

    // CAT
    CAT_taxa = "${HOME}/data2/db/CATBAT/2021-01-07_taxonomy"
    CAT_db = "${HOME}/data2/db/CATBAT/2021-01-07_CAT_database"
    CAT_block_size = 10
    CAT_index_chunks = 1


    // kegg
    kegg_db = "${HOME}/data2/db/KEGG/diamond/kegg_genes.dmnd"
    kegg_pathway = "${HOME}/data2/db/KEGG/ko2pathway.tsv"
    kegg_gene2ko = "${HOME}/data2/db/KEGG/gene2ko_nr.map.gz"
    keggvg_gene2ko = "${HOME}/data2/db/KEGG/gene2ko_vg.map"
    kegg_vg = "${HOME}/data2/db/KEGG/diamond/kegg_vg.dmnd"
    kegg_bac = "${HOME}/data2/db/KEGG/diamond/kegg_bacteria.dmnd"

}
