profiles
{   
    standard {
        process.executor = 'local'
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '1 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/rnaseq"
        process.time = "20 h"
    }

    hpc_sge {
        process.executor = 'sge'
        process.cpus = 1
        process.conda = "${HOME}/miniconda3/envs/vmap"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "8 GB"
    }

    withLabel: "medium" {
        cpus = 4
        memory = "20 GB"
    }

    withLabel: "big" {
        cpus = 8
        memory = "60 GB"
    }
}


params 
{    
    outdir = "output"
    report = "report"
    mode = "clean"         // {fastqc, clean, all}
    test = "test" 

    // fastp
    leftcutR1 = 15
    leftcutR2 = 15
    rightcutR1 = 3
    rightcutR2 = 3

    // ref
 //   ref = "${baseDir}/refs/reference.fna"
    gff = "${baseDir}/refs/hostphage.gff"
 //   ref_cds_all = "${baseDir}/refs/all_cds.fna"
 //   ref_bac = "${baseDir}/refs/CP000521.1.fna"
 //   ref_vir = "${baseDir}/refs/vB_AB_HMGU1.fna"
    ref_cds = "${baseDir}/refs/refs_cds.fna"
    ref_genome = "${baseDir}/refs/refs_genome.fna"
    gbk_bacteria = "${baseDir}/refs/bacteria.gbk"
    gbk_virus = "${baseDir}/refs/virus.gbk"
    bacteria_id = "CP000521.1"
    virus_id = "vB_AB_HMGU1"

    // assembler
    assembler = "spades"
    megahit_mem = 0.3
    spades_mem = 70

    // nr contig
    min_contig = 500

    // CAT
    CAT_taxa = "${HOME}/data2/db/CATBAT/2021-01-07_taxonomy"
    CAT_db = "${HOME}/data2/db/CATBAT/2021-01-07_CAT_database"
    CAT_block_size = 10
    CAT_index_chunks = 1


    // kegg
    kegg_db = "${HOME}/data2/db/KEGG/diamond/kegg_genes.dmnd"
    kegg_pathway = "${HOME}/data2/db/KEGG/ko2pathway.tsv"
    kegg_gene2ko = "${HOME}/data2/db/KEGG/gene2ko_nr.map.gz"
    kegg_vg = "${HOME}/data2/db/KEGG/diamond/kegg_vg.dmnd"
    kegg_bac = "${HOME}/data2/db/KEGG/diamond/kegg_bacteria.dmnd"

}
